@page "/multilingual-strings"

@using System.Globalization
@using MLSM.UI.Client.Models
@using MLSM.UI.Client.Service
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop

@{
	string currentCulture = CultureInfo.CurrentCulture.Name;
}

<div style="
    display: flex;
    justify-content: center;
    margin-top: 20px;
">

</div>

<div style="
    display: flex;
    justify-content: center;
    margin-top: 20px;
">
	<div style="
        max-height: 1000px;
        max-width: 59%;
		min-width:59%;
        overflow: auto;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	">
		<table id="dataTable" style="width: 100%; border-collapse: collapse; text-align: left;">
			<thead>
				<tr>
					<th style="width: 100px; border-bottom: 2px solid #ddd;">@(currentCulture == "en-US" ? "Code" : "شفرة")</th>
					<th style="width: 200px; border-bottom: 2px solid #ddd;">@(currentCulture == "en-US" ? "English Text" : "النص الانجليزي")</th>
					<th style="width: 200px; border-bottom: 2px solid #ddd;">@(currentCulture == "en-US" ? "Arabic Text" : "النص العربي")</th>
					
				</tr>
			</thead>
			<tbody>
				@foreach (var item in multilingualStrings)
				{
					<tr>
						<td style="padding: 8px; border-bottom: 1px solid #eee;">@item.Code</td>
						<td style="padding: 8px; border-bottom: 1px solid #eee;">@item.TitleEn</td>
						<td style="padding: 8px; border-bottom: 1px solid #eee;">@item.TitleAr</td>
						
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@if (isModalVisible)
{
	<div class="modal show" style="display:block;">
		<div class="modal-dialog">
			<div class="modal-content">
			
				<div class="modal-body">
					@if (hasValidationErrors)
					{
						<span style=" margin-bottom:20px; color: red; font-weight:200"> @requiredField</span>
					}
					<EditForm Model="currentItem">
						<DataAnnotationsValidator />
						<ValidationSummary />

						<div class="form-group">
							<label>@(currentCulture == "en-US" ? "Code" : "شفرة")</label>
							<InputText class="form-control" @bind-Value="currentItem.Code" />
						</div>

						<div class="form-group" style="margin-top:10px">
							<label>@(currentCulture == "en-US" ? "TitleEn" : "عنوان بالإنجليزية")</label>
							<InputText class="form-control" @bind-Value="currentItem.TitleEn" />
						</div>
						<div class="form-group" style="margin-top:10px;">
							<label>@(currentCulture == "en-US" ? "TitleAr" : "عنوان بالعربية")</label>
							<InputText class="form-control" @bind-Value="currentItem.TitleAr" />
						</div>
						

						<button style="margin-top:10px" type="submit" class="btn btn-primary">@("Save")</button>
					</EditForm>
				</div>
			</div>
		</div>
	</div>
}


@code {
	private string oldCode { get; set; } = "";
	private bool hasValidationErrors = false;
	private string requiredField { get; set; } = "";
	private char mode { get; set; } = 'D';
	List<LanguageStringResponseDto> multilingualStrings = new();

	protected override async Task OnInitializedAsync()
	{
		LanguageManagerService _repo = new(Configs.BaseUrl);
		multilingualStrings = await _repo.GetStrings();
	}

	private LanguageStringResponseDto currentItem = new LanguageStringResponseDto();
	private bool isModalVisible = false;

	
}


